body{
    display: flex;
}
form{
    margin: 0 auto;
    text-align: center;
    margin-top: 100px;
}
input{
    font-size: 16px;
    margin-right: 10px;
    width: 100px;
    padding: 10px 0px;
    border-radius: 5px;
    border: 1px solid black;
    text-align: center;
}
#minRange, #maxRange{
    width: 150px;
}
h1{
    color:rgb(211, 33, 108);
    text-shadow: rgb(134, 46, 82) 1px 5px 25px;
    font-size: 50px;
}
button{
    border: none;
    border-radius: 5px;
    padding: 8px;
    color: aliceblue;
    font-size: 16px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    transition: background-color 0.3s, transform 0.1s;
    cursor: pointer;
}
#checkButton{
    background-color: rgb(221, 80, 139);
}
#resetButton{
    background-color: rgb(74, 152, 236);
}
#startButton{
    margin-top: 10px;
    background-color: rgb(50, 172, 62);
    width: 200px;
}
button:active {
    transform: scale(0.95);
}
button:disabled {
    background-color: gray; 
    cursor: not-allowed; 
}
p{
    font-size: 20px;
}